### Introduction

We were trying to answer two questions with this analysis. 1st: Are the characters with the most lines in the movies, also the most polarizing? 2nd: Is there are physical trait that is common amoung the most polarizing characters?

In [3]:
#Import all needed librarys
import re
import pandas as pd

We will start by using regular expressions to read through the scirpts of the original triology (A New Hope, The Empire Stikes Back, Return of the Jedi). We created a dictionary of lists to store the results.

Next we will analyze a 538 data set that contians Star Wars survey results.

In [4]:
filename = 'star-wars-survey_StarWars.csv'   # Opens file that is in the same working directory
file = open(filename, 'r')

def getColumns(file):
    """
    Given a file, this function returns the column headers in a spreadsheet
    
    Parameters: file
    Return value: list containing the column headers
    """
    file.seek(0)
    columns = file.readline().strip().split(',')
        
    return columns


def buildLol(file):
    """
    Given a file, this function creates a list of lists representation of the file
    
    Parameters: file
    Return value: a list of lists storing the data of the a file
    """       
    lol = []
    
    for line in file: #Iterate through the lines of a file
        curRow = line.strip().split(',') #creates a list of values in a row, split up by commas
        lol.append(curRow)
        
    return lol

#Creation of the LoL and subsequent creation of a pandas data frame using the lists of lists
columns = getColumns(file)
StarWarsLol = buildLol(file)
five38df = pd.DataFrame(StarWarsLol)
five38df

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,2,3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,,High school degree,South Atlantic
1,3,3292879538,No,,,,,,,,...,,,,,Yes,Male,18-29,$0 - $24999,Bachelor degree,West South Central
2,4,3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,,,,...,Unfamiliar (N/A),I don't understand this question,No,,No,Male,18-29,$0 - $24999,High school degree,West North Central
3,5,3292763116,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,Very favorably,I don't understand this question,No,,Yes,Male,18-29,$100000 - $149999,Some college or Associate degree,West North Central
4,6,3292731220,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,$100000 - $149999,Some college or Associate degree,West North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,996,3288682656,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,Very favorably,Han,No,,Yes,Female,30-44,$50000 - $99999,Bachelor degree,New England
995,997,3288678886,Yes,No,,,,,Star Wars: Episode V The Empire Strikes Back,,...,Very favorably,I don't understand this question,No,,No,Female,18-29,$100000 - $149999,Some college or Associate degree,East North Central
996,998,3288675923,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,Very favorably,I don't understand this question,No,,Yes,Female,18-29,,Graduate degree,West South Central
997,999,3288672490,Yes,No,Star Wars: Episode I The Phantom Menace,,,Star Wars: Episode IV A New Hope,,Star Wars: Episode VI Return of the Jedi,...,Very favorably,Han,No,,No,Female,18-29,$50000 - $99999,Bachelor degree,Pacific
998,1000,3288672409,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,Very favorably,Han,No,,No,Female,18-29,,Some college or Associate degree,Pacific

In [5]:
#Naming the columns of the python data frame using the list of columns created above. Set the index of the data frame
five38df.columns = columns
five38dfv2 = five38df.set_index("rowid")

#Removing all un-needed columns
five38dfv3 = five38dfv2.drop(["RespondentID", "Which character shot first?","Are you familiar with the Expanded Universe?","Do you consider yourself to be a fan of the Expanded Universe?","Do you consider yourself to be a fan of the Star Trek franchise?","Gender", "Age","Household Income", "Education", "Location (Census Region)"], axis=1)

In [6]:
#List of the columns that are going to be in the cleaned data set
cleanedfive38df = five38dfv3[['Have you ever seen Episode IV?','Have you ever seen Episode V?','Have you ever seen Episode VI?','Please state whether you view Han Solo favorably or unfavorably or are unfamiliar with him/her.',
 'Please state whether you view Luke Skywalker favorably or unfavorably or are unfamiliar with him/her.',
 'Please state whether you view Princess Leia Organa favorably or unfavorably or are unfamiliar with him/her.',
 'Please state whether you view Anakin Skywalker favorably or unfavorably or are unfamiliar with him/her.',
 'Please state whether you view Obiwan Kenobi favorably or unfavorably or are unfamiliar with him/her.',
 'Please state whether you view Emperor Palpatine favorably or unfavorably or are unfamiliar with him/her.',
 'Please state whether you view Darth Vader favorably or unfavorably or are unfamiliar with him/her.',
 'Please state whether you view Lando Calrissian favorably or unfavorably or are unfamiliar with him/her.',
 'Please state whether you view Boba Fett favorably or unfavorably or are unfamiliar with him/her.',
 'Please state whether you view C-3PO favorably or unfavorably or are unfamiliar with him/her.',
 'Please state whether you view R2 D2 favorably or unfavorably or are unfamiliar with him/her.',
 'Please state whether you view Yoda favorably or unfavorably or are unfamiliar with him/her.']]

In [7]:
#Renaming the column headers in the cleaned file
cleanedfive38df = cleanedfive38df.rename(columns={"Have you ever seen Episode IV?": "Episode IV", 
"Have you ever seen Episode V?": "Episode V", 
"Have you ever seen Episode VI?": "Episode VI",
'Please state whether you view Han Solo favorably or unfavorably or are unfamiliar with him/her.': 'Han Solo',
'Please state whether you view Luke Skywalker favorably or unfavorably or are unfamiliar with him/her.': "Luke Skywalker",
'Please state whether you view Princess Leia Organa favorably or unfavorably or are unfamiliar with him/her.': "Leia Organa",
'Please state whether you view Anakin Skywalker favorably or unfavorably or are unfamiliar with him/her.': "Anakin Skywalker",
'Please state whether you view Obiwan Kenobi favorably or unfavorably or are unfamiliar with him/her.': "Obiwan Kenobi",
'Please state whether you view Emperor Palpatine favorably or unfavorably or are unfamiliar with him/her.': "Emporer Palpatine",
'Please state whether you view Darth Vader favorably or unfavorably or are unfamiliar with him/her.': "Darth Vader", 
'Please state whether you view Lando Calrissian favorably or unfavorably or are unfamiliar with him/her.': "Lando Calrissian",
'Please state whether you view Boba Fett favorably or unfavorably or are unfamiliar with him/her.': "Boba Fett", 
'Please state whether you view C-3PO favorably or unfavorably or are unfamiliar with him/her.': "C-3PO",
'Please state whether you view R2 D2 favorably or unfavorably or are unfamiliar with him/her.': "R2 D2",
'Please state whether you view Yoda favorably or unfavorably or are unfamiliar with him/her.': "Yoda"
})

In [8]:
#Changing the values of the columns which check which movies a person has seen
cleanedfive38df.iloc[:, 0:3] = cleanedfive38df.iloc[:, 0:3].replace(["Star Wars: Episode IV  A New Hope","Star Wars: Episode V The Empire Strikes Back",
"Star Wars: Episode VI Return of the Jedi",''], ["Yes","Yes","Yes","No"])

#Changing current measuring system for one that measures polarization rather than favorability. 
cleanedfive38df = cleanedfive38df.replace(["Very favorably","Somewhat favorably","Neither favorably nor unfavorably (neutral)",
'Somewhat unfavorably', 'Unfamiliar (N/A)', 'Very unfavorably',''], [2,1,0,1,0,2,0])

In [9]:
#Create list of columns that we hope to sum
columnList = cleanedfive38df.columns.tolist()
cleanedList = columnList[3:]

characterSum = {}

#Sum values for each character
for column in cleanedList:
    characterSum[column] = sum(cleanedfive38df[column])

#Sort dictionary
polarization = dict(sorted(characterSum.items(), key= lambda x: x[1], reverse = True))

In [10]:
#Create data frame and subsequent formatting of that data frame
polarizationDf = pd.DataFrame(polarization, index = [0])
polarizationDf2 = polarizationDf.transpose()

#Add column headers
polarizationDf2.columns = ["Polarization Count"]

polarizationDf2

                   Polarization Count
Han Solo                         1192
Yoda                             1183
Obiwan Kenobi                    1164
Luke Skywalker                   1155
R2 D2                            1142
Leia Organa                      1139
C-3PO                            1038
Darth Vader                      1023
Anakin Skywalker                  787
Emporer Palpatine                 598
Boba Fett                         541
Lando Calrissian                  515