In [18]:
import pandas as pd
filename = 'star-wars-survey_StarWars.csv'   # file needs to be in working directory
file = open(filename, 'r')

def getColumns(file):
    file.seek(0)
    columns = file.readline().strip().split(',')
        
    return columns


def buildLol(file):
    '''Build a list of lists representation of table.'''        
    lol = []
    for line in file:
        curRow = line.strip().split(',')
        lol.append(curRow)
        
    return lol

columns = getColumns(file)
StarWarsLol = buildLol(file)
five38df = pd.DataFrame(StarWarsLol)
five38df[:3]

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,2,3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,Yes,No,No,Male,18-29,,High school degree,South Atlantic,None,None
1,3,3292879538,No,,,,,,,,...,,,Yes,Male,18-29,"""$0 - $24","999""",Bachelor degree,West South Central,None
2,4,3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,,,,...,No,,No,Male,18-29,"""$0 - $24","999""",High school degree,West North Central,None

In [19]:
#five38df.columns = columns
for i in columns:
    print(i)
#five38df.set_index("rowid")

rowid
RespondentID
Have you seen any of the 6 films in the Star Wars franchise?
Do you consider yourself to be a fan of the Star Wars film franchise?
Have you ever seen Episode I?
Have you ever seen Episode II?
Have you ever seen Episode III?
Have you ever seen Episode IV?
Have you ever seen Episode V?
Have you ever seen Episode VI?
Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.
Unnamed: 10
Unnamed: 11
Unnamed: 12
Unnamed: 13
Unnamed: 14
Please state whether you view Han Solo favorably or unfavorably or are unfamiliar with him/her.
Please state whether you view Luke Skywalker favorably or unfavorably or are unfamiliar with him/her.
Please state whether you view Princess Leia Organa favorably or unfavorably or are unfamiliar with him/her.
Please state whether you view Anakin Skywalker favorably or unfavorably or are unfamiliar with him/her.
Please state whether you view Obiwan Kenobi favorably or unfavorably or are unfamiliar with him/her.
Please state whether you view Emperor Palpatine favorably or unfavorably or are unfamiliar with him/her.
Please state whether you view Darth Vader favorably or unfavorably or are unfamiliar with him/her.
Please state whether you view Lando Calrissian favorably or unfavorably or are unfamiliar with him/her.
Please state whether you view Boba Fett favorably or unfavorably or are unfamiliar with him/her.
Please state whether you view C-3PO favorably or unfavorably or are unfamiliar with him/her.
Please state whether you view R2 D2 favorably or unfavorably or are unfamiliar with him/her.
Please state whether you view Jar Jar Binks favorably or unfavorably or are unfamiliar with him/her.
Please state whether you view Padme Amidala favorably or unfavorably or are unfamiliar with him/her.
Please state whether you view Yoda favorably or unfavorably or are unfamiliar with him/her.
Which character shot first?
Are you familiar with the Expanded Universe?
Do you consider yourself to be a fan of the Expanded Universe?
Do you consider yourself to be a fan of the Star Trek franchise?
Gender
Age
Household Income
Education
Location (Census Region)