In [2]:
import pandas as pd
filename = 'star-wars-survey_StarWars.csv'   # file needs to be in working directory
file = open(filename, 'r')

def getColumns(file):
    file.seek(0)
    columns = file.readline().strip().split(',')
    
    return columns

def buildLol(file):
    '''Build a list of lists representation of table.'''        
    lol = []
    for line in file:
        curRow = line.strip().split(',')
        lol.append(curRow)
        
    return lol

columns = getColumns(file)
StarWarsLol = buildLol(file)
five38df = pd.DataFrame(StarWarsLol)
five38df

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,2,3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,Yes,No,No,Male,18-29,,High school degree,South Atlantic,None,None
1,3,3292879538,No,,,,,,,,...,,,Yes,Male,18-29,"""$0 - $24","999""",Bachelor degree,West South Central,None
2,4,3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,,,,...,No,,No,Male,18-29,"""$0 - $24","999""",High school degree,West North Central,None
3,5,3292763116,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,No,,Yes,Male,18-29,"""$100",000 - $149,"999""",Some college or Associate degree,West North Central
4,6,3292731220,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,Yes,No,No,Male,18-29,"""$100",000 - $149,"999""",Some college or Associate degree,West North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,996,3288682656,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,No,,Yes,Female,30-44,"""$50",000 - $99,"999""",Bachelor degree,New England
995,997,3288678886,Yes,No,,,,,Star Wars: Episode V The Empire Strikes Back,,...,No,,No,Female,18-29,"""$100",000 - $149,"999""",Some college or Associate degree,East North Central
996,998,3288675923,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,No,,Yes,Female,18-29,,Graduate degree,West South Central,None,None
997,999,3288672490,Yes,No,Star Wars: Episode I The Phantom Menace,,,Star Wars: Episode IV A New Hope,,Star Wars: Episode VI Return of the Jedi,...,No,,No,Female,18-29,"""$50",000 - $99,"999""",Bachelor degree,Pacific
998,1000,3288672409,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,...,No,,No,Female,18-29,,Some college or Associate degree,Pacific,None,None

In [4]:
five38df.columns = columns
five38df.set_index("rowid")

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
rowid,,,,,,,,,,,,,,,,,,,,,
2,3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Yes,No,No,Male,18-29,,High school degree,South Atlantic,None,None
3,3292879538,No,,,,,,,,,...,,,Yes,Male,18-29,"""$0 - $24","999""",Bachelor degree,West South Central,None
4,3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,,,,1,...,No,,No,Male,18-29,"""$0 - $24","999""",High school degree,West North Central,None
5,3292763116,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,No,,Yes,Male,18-29,"""$100",000 - $149,"999""",Some college or Associate degree,West North Central
6,3292731220,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Yes,No,No,Male,18-29,"""$100",000 - $149,"999""",Some college or Associate degree,West North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,3288682656,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,No,,Yes,Female,30-44,"""$50",000 - $99,"999""",Bachelor degree,New England
997,3288678886,Yes,No,,,,,Star Wars: Episode V The Empire Strikes Back,,3,...,No,,No,Female,18-29,"""$100",000 - $149,"999""",Some college or Associate degree,East North Central
998,3288675923,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,2,...,No,,Yes,Female,18-29,,Graduate degree,West South Central,None,None
999,3288672490,Yes,No,Star Wars: Episode I The Phantom Menace,,,Star Wars: Episode IV A New Hope,,Star Wars: Episode VI Return of the Jedi,3,...,No,,No,Female,18-29,"""$50",000 - $99,"999""",Bachelor degree,Pacific
1000,3288672409,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,No,,No,Female,18-29,,Some college or Associate degree,Pacific,None,None